<!--
	<div style="background: #eeeeee; border: 1px solid #ccc; padding: 5px;">
	    	<%#session.inspect %>
	</div>
	<hr>
	<div style="background: #eeeeee; border: 1px solid #ccc; padding: 5px;">
		<%#current_user.inspect %>
	</div>
!-->
<br><br><br>
<div id="footer"> 
	
	<div class="row">
		<div class="large-12 columns">
			<div class="panel"><!-- Remove later. Just To highlight what grid i should work with !-->
				<div class="large-2 columns"> Logo Here </div>
				<div class="large-7 columns"> 
					<ul class="large-block-grid-7 small-block-grid-1">
						<li><a href="#" target="_blank">Blog</a></li>
						<li><a href="#" target="_blank">Guide</a></li>
						<li><a href="#" target="_blank">Help</a></li>
						<li><a href="#" target="_blank">Pricing</a></li>
						<li><a href="#" target="_blank">FAQ</a></li>
						<li><a href="#" target="_blank">Terms</a></li>
						<li><a href="#" target="_blank">Privacy</a></li>
					</ul>
				</div>
				<div class="large-3 columns">
					<a href="http://pinterest.com" target="_blank"><span class="icon right pinterest" title="Pinterest">&nbsp;</span></a>
			        <a href="http://twitter.com" target="_blank"><span class="icon right twitter" title="Twitter">&nbsp;</span></a>
			        <a href="http://www.facebook.com" target="_blank"><span class="icon right facebook" title="Facebook">&nbsp;</span></a>
			    </div>
			</div>
		</div>
	</div>
</div>
<div class="official"> © 2013 Tail. All Rights Reserved.</div>
<%= debug params if Rails.env.development? %>