<div class="grid_4">
  <%= render "profiles/user_cards/basic_info_card", user_presenter: user_presenter  %>
  <%= render "profiles/user_cards/shop_card" %>
</div>

<div class="grid_4">
  <%= render "profiles/user_cards/story_card", user_presenter: user_presenter %>
  <%= render "profiles/user_cards/people_card", user_presenter: user_presenter %>
</div>