<div class="row">
	<div class="section-container horizontal-nav" data-section="horizontal-nav">
		<section class="sales active">
			<p class="title"> <%= link_to 'Sales',balance_profiles_path, :remote => true  %> </p>
		</section>

		<section class="shopping">
			<p class="title"> <%= link_to 'Shopping',shopping_profiles_path, 
			:remote => true  %></p>
		</section>

		<!--
		<section class="referral">
			  <p class="title"> <%#link_to 'Referal Commission',referral_profiles_path,:remote => true  %>
			  </p>
		</section>
		!-->
	</div>
</div>