<div id="recommendModal" class="compact-modal">
	<div class="modalContainer">
		<h3 class="hd">Recommend this Product.</h3>
		<div class="fig"> 
			<span class="thumb">
				<em class="shadow"></em>
				<img src="<%= @product.cover("thumb") %>"/> 
			 </span>
			 <span class="fig-info"><%= @product.product_title %> </span>
		</div>
		<p>And so on.. Complete when theme is finished</p>
		<a class="close-reveal">&#215;</a>
	</div>
<div id="overlay" class="overlay"></div>
</div>

