<!-- loads of front end work needed here !-->

<div style="float:right"> <%= link_to "Back to #{@product.store.store_name}", root_url(:subdomain =>@product.store.store_name) %> <a href="<%= ROOT_URL %>"> Link to home</a> 
</div>