<div class="large-9 small-12 columns">
	<div class="section-container horizontal-nav" data-section="horizontal-nav">
	    <section class="section">
	      <p class="title"> <a class="homeFeatured" href="#">Featured</a>  </p>
	    </section>
	    <section class="section">
	      <p class="title"> <a class="homeStories" href="/#home/stories">Stories</a></p>
	    </section>
	    <section class="section">
	      <p class="title"> <a class="homeSubscriptions" href="/#home/subscriptions">Subscriptions</a> </p>
	    </section>
	    <section class="section">
	      <p class="title"> <a class="homeRecommendations" href="/#home/recommendations">Recommendations</a> </p>
	    </section>
  	</div>

	<div id = "main-area">
	</div>
</div>
<div id = "side-bar" class="large-3 small-12 columns">
</div>
