<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirm_account_user_registrations_url(:confirm_token => @user.account_activation_code) %></p>
