<div class="row">
	<div class="large-12 columns">
		<h1>New</h1>
		<%= form_for @theme do |f| %>
			<%= render 'includes/common/errors', object: @theme %>
    		<%= render :partial => "form", locals: {f: f} %>
		<% end %>
	</div>
</div>