<div class="row">
	<div class="large-12 columns">
		<h3><%= @theme.theme_name %></h3> <span> by <%= @theme.user.username %></span>
		<a href="#">Preview</a>|<a href="#">Install</a>|
		<% if current_user and @theme.user_id == current_user.id %>
			<%= link_to "Edit", edit_theme_path(@theme) %>
		<% end %>
		<br><br>
	</div>
	<div class="large-9 columns">
		<div class="panel">
			<img style="height: 300px; width:700px"/>
		</div>

	</div>
	<div class="large-3 columns">
		<h4>Features</h4>
		<hr>
		<ul>
			<li> Custom Colors</li>
			<hr>
			<li> Custom Images</li>
			<hr>
			<li> High res</li>
			<hr>
			<li> Tags</li>
			<hr>
			<li> Localisaton.</li>
			<hr>
		</ul>
		<small>Install count here</small>
	</div>
	
</div>