<li>
	<img alt="" class="avatar" src="https://d3h1owo1z0fmto.cloudfront.net/images-User-11948-gruber-sxsw-final_bigger.png">
	<a href="profiles/<%= user.username %>" target="_blank"><div class="user-name"> <%= user.first_name.capitalize  %> </div></a>
	
</li>