<div class="mid-content text-center">
  <h1> Rewiring e-commerce around people.</h1>
  <!-- <p>  Enabling a socially engaging and rewarding commerce experience for both buyers and sellers.</p> !-->
</div>
<h2>Enabling a socially engaging and rewarding commerce experience for both buyers and sellers. </h2>

<div class="text">
  <span class="dark">Lorem ipsum dolor echo park raw denim brunch cliche viral irony williamsburg. Sustainable cosby sweater high life brooklyn. Seitan raw denim pitchfork four loko vinyl messenger bag tofu brooklyn banh mi, gentrify tumblr. Brunch cliche 8-bit williamsburg dreamcatcher, hoodie art party. Biodiesel gluten-free twee mlkshk. Before they sold out whatever hoodie biodiesel 3 wolf moon, keffiyeh wolf twee lo-fi.
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
</div>

