<div class="about-divs people">
<h5> People</h5>
<%= subscribe_box("Subscribers", user_presenter.recent_subscribers) %>
<%= subscribe_box("Subscriptions", user_presenter.recent_subscriptions) %>
</div>