<div class="row">
  <%= render :partial => "dashboard/side_tabs" %>

  <div class="large-9 columns">
    <%= form_for @notification, :url => create_notification_setting_path(@user,@notification),:html => {:class => "message"} do |f|%>
      <%= render :partial => "notifications",:locals => {:f => f} %>
    <% end %>
  </div>
</div>