#footer {
	width: 100%;
	height: 150px;
	background-color: $footer-background;
	@include margin("all", -20px, 0, 0, 0px);
	.inner {
		@include padding("all", 50px, 30px, 40px, 30px);
	}
	a{
		text-decoration: none;
		color:$blendGrayDark;
		font-size: 12px;
		text-transform: uppercase;
	}
	.icon {
		height: 24px;
		display: block;
		background-image: url(http://dropify.com/images/website/shared/footer_sprite_v3.png);
	}
	.pinterest {
		width: 27px;
		height: 25px;
		background-position: -221px -2px;
		margin-right: 0px;
	}
	.twitter {
		width: 30px;
		background-position: -177px -2px;
		margin-right: 20px;
	}

	.facebook {
		width: 24px;
		background-position: -133px -2px;
		margin-right: 20px;
		
	}
	.grid_7 {
		ul{
			@include margin("all", 6px, 0, 30px, 0);
			li {
				display: inline;
				@include margin("right", 0, 22px);
			}
		}
		ul li a:hover {
			color: $black;

		}
	}
	.official {
		color: $grayLight;
		font-size: 13px;
		font-weight: $light;
	}
}