<div class="steps clearfix">
    <div class="grid_3">
      <h3> List a product </h3>
    </div>
    <div class="grid_9">
      <ol class="inline">
        <li class="active"><a href="#slide-0"><span>1</span> Product Details </a> </li>
        <li class="disabled"><a href="#slide-1"><span>2</span> Options </a></li>
        <li class="disabled"><a href="#slide-2"><span>3</span> Buyer's Receipt</a></li>
      </ol>
    </div> 
</div>